<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - Orizon UI</title>

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />

    <link rel="stylesheet"
          href="~/css/admin-layout.css"
          asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>

    <div class="app">

        <aside class="sidebar">

        </aside>

        <div class="app-main">

            <header class="topbar">

            </header>

            <main class="content">

                @RenderBody()

            </main>

        </div>

    </div>

    <script src="~/js/site.js"
            asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)

</body>

</html>