<footer class="orizon-footer">

    <div class="orizon-footer-left">

        © @DateTime.Now.Year
        <strong>Orizon Platform</strong>

    </div>

    <div class="orizon-footer-right">

        <span>Versão 1.0.0</span>

    </div>

</footer>